# Diretórios de build
/backend/target/
/frontend/node_modules/
/frontend/dist/
/frontend/build/

# Arquivos compilados
*.class
*.jar
*.war
*.ear

# Configurações de IDEs
.idea/
*.iml
.project
.classpath
.settings/
.vscode/

# Arquivos temporários e logs
*.log
*.tmp
*.bak
hs_err_pid*

# Arquivos de sistema
.DS_Store
Thumbs.db

# Arquivos de configuração sensíveis
application.properties
application.yml

