<header>
    <div class="header-container">
        <a class="button-logo" href="/index.html">
         <img
            src="/assets/img/logo/hotellita.png"
            alt="Logo do site"
            class="logo"/></a>
        
        <button class="menu-toggle" aria-label="Abrir menu">☰</button>
        <nav class="menu">
            <ul>
                <li class="line"><a href="/index.html">Página Inicial</a></li>
                <li class="line"><a href="/pages/visitados.html">Mais Visitados</a></li>
                <li class="line"><a href="/pages/sobre.html">Sobre</a></li>
                <li class="line"><a href="/pages/seuHotel.html">Seu Hotel aqui!</a></li>
            </ul>
        </nav>
    </div>
    <h1 id="page-title"></h1>
</header>

<script src="/assets/js/header.js"></script>
