.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    font-family: 'Roboto', Arial, sans-serif; /* Fonte amigável */
}

.hotel-card {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 15px;
    padding: 15px;
    height: 350px;
    width: 100%; /* Ajusta para ocupar toda a largura disponível */
    max-width: 400px; /* Define um limite máximo para os cartões */
    text-align: center;
    box-sizing: border-box; /* Inclui padding e borda no cálculo da largura */
}

.hotel-card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    transform: translateY(-8px);
    transition: all 0.3s ease;
}

.hotel-image {
    width: 10rem;
    height: 7rem;
    object-fit: contain;
    border: #0056b3 solid 2px;
    border-radius: 20px;
}

.hotel-info {
    margin-top: 10px;
}

.view-button {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    width: 100%;
    border-radius: 5px;
    font-weight: bold;
}

.view-button:hover {
    background-color: #0056b3;
}


@media (max-width: 768px) {
    .hotel-card {
        width: 95%;
        height: 25rem; /* Ajusta os cards para ocupar toda a largura em telas menores */
    }
   
    .hotel-info {
        font-size: 0.3rem; /* Reduz o tamanho da fonte em telas menores */
    }
    .view-button {
        font-size: 0.9rem; /* Reduz o tamanho do botão em telas menores */
   }
}